@import url("//db.onlinewebfonts.com/c/0d04602b435c3455cfa65dd27d8552ea?family=Barlow+Medium");
body {
  margin: 0;
  font-family: "Barlow Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  
}