.container{
    width: 100%;
    height: 110vh;
    padding: 0 30px;
    padding-bottom:40px ;
    background-color: white;
    color: #131415;
}
.grid{
    padding-top:140px ;

    display: grid;
    grid-template-columns: 50% 10% auto;
}
.grid h1{
    margin-left: 130px;
    font-size: 108px;
    font-weight: 300;
    line-height: 100px;
    max-width: 769px;
}
.grid img{
    margin-top: 20px;
    height: 70px;
    width: 70px;
    transition: transform .7s ease-in-out;
}
.grid img:hover {
    transform: rotate(360deg);
  }

.image{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media (max-width: 1450px) {
    .grid{
        padding-top:140px ;
    
        display: grid;
        grid-template-rows: 50% 10%;
    }
    .grid h1{
        margin-left: 130px;
        font-size: 60px;
        font-weight: 300;
        line-height: 100px;
        max-width: 769px;
    }
    .grid img{
        margin-top: 20px;
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 968px) {
    .grid{
        text-align: center;
        padding-top:50px ;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .grid h1{
        margin-left: 0px;
        font-size: 29px;
        font-weight: 300;
        max-width: 769px;
    }
    .grid img{
        /* visibility: hidden; */
        margin-top: 20px;
        height: 35px;
        width: 35px;
    }
    .image{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .image img{
        width:300px;
    }
}