.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 60px;
  padding: 0 30px;
}
.logo{
  transition: transform .2s;
}
.logo:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.header a {
  color: white;
  margin-right: 20px;
}

.header a:hover {
  color: wheat;
}
.header ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
/* .header ul li:hover{
-webkit-animation: neon4 1.5s ease-in-out infinite alternate;
-moz-animation: neon4 1.5s ease-in-out infinite alternate;
animation: neon4 1.5s ease-in-out infinite alternate;
} */
@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fbff00, 0 0 70px #fbff00, 0 0 80px #fbff00, 0 0 100px #fbff00, 0 0 150px #fbff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fbff00ed, 0 0 35px #fbff00ed, 0 0 40px #fbff00ed, 0 0 50px #fbff00ed, 0 0 75px #fbff00ed;
  }
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .header ul {
    font-size: 15px;
    margin: 2px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 1px 0;
  }
}
